<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/Style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to Login Page</h1>
        @if (IsPost)
        {
            if (TempData["Error"] != null)
            {
                <script>
                Swal.fire({
            icon: 'error',
                    title: 'Login Failed',
                    text: '@TempData["Error"]'
                });
                </script>
            }
        }
        <form action="" method="post">
            <label>Enter Username:</label>
            <input type="text" name="username" required />
            <label>Enter Password:</label>
            <input type="password" name="password" required />
            <input type="submit" value="Login" />
        </form>
    </div>
</body>
</html>
